body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange

}
.flex{
    display: flex;
}
.flex1 {
    display: flex ;
}
.half-width{
    width: 50%;
}
.half-width img  {
    width: 50%
}
.link {
    text-decoration: none;
   background-color: orangered;
   color:  white;
    padding:5px 5px ;
    border-radius: 5px;
}
.align {
    text-align: center;
}

.last{
    background-color: black;
    text-align: center;

 text-decoration: none;
 color: white;
}